.room-types-container {
  max-width: 950px;
  margin: 20px auto;
  padding: 20px;
}

.room-type-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
#h3{
  color:gray;
}

.room-type-form input,
.room-type-form textarea {
  padding: 10px;
  font-size: 16px;
}

.room-type-form button {
  width: fit-content;
  padding: 10px 16px;
  cursor: pointer;
}

.room-type-list {
  display: grid;
  gap: 16px;
}

.room-type-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
}
button{
  margin:2px;
}