<div class="register-container">
  <h2>Register</h2>
  <p>Create your account and unlock the full hotel booking experience.</p>

<form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
  <input
    type="text"
    name="name"
    [(ngModel)]="registerData.name"
    #name="ngModel"
    placeholder="Name"
    required
  />

  <input
    type="email"
    name="email"
    [(ngModel)]="registerData.email"
    #email="ngModel"
    placeholder="Email"
    required
    email
  />

  <input
    type="password"
    name="password"
    [(ngModel)]="registerData.password"
    #password="ngModel"
    placeholder="Password"
    autocomplete="new-password"
    required
    minlength="6"
  />

  <button type="submit">Register</button>
</form>

  @if (successMessage) {
    <p class="success-message">{{ successMessage }}</p>
  }

  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }
</div>
